
<div class="container">
        <div class="container-fluid d-flex justify-content-center">
            <a href=""><i class="fab fa-facebook fa-2x"></i></a>
            <a href=""><i class="fab fa-twitter fa-2x pl-5"></i></a>
            <a href=""><i class="fab fa-linkedin fa-2x pl-5"></i></a>
            <a href=""><i class="fab fa-instagram fa-2x pl-5"></i></a>
            <a href=""><i class="fab fa-github fa-2x pl-5"></i></a>

        </div>
</div>
<hr>
<hr>
<hr>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>


</body>
</html>