<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/main.css">
    <title>Portfolio</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><i class="fas fa-home fa-2x"></i></a>
            <div>  
              <span><a class="navbar-brand text-dark letsCode" href="#"><img class="img-fluid rounded top-Img" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/clans/26312799/0d4764a40b6d0efbe0119f832ef5928362581989.gif"></a></span>
            </div>
          <a class="navbar-brand text-dark" href="/projects"><i class="fas fa-laptop-code"><span class="txt"> Projects</span> </i></a>
          <a class="navbar-brand float-right" href="/contacts"><i class="fas fa-address-card fa-2x"></i></a>
        </div>
      </nav>
      
    
