<%- include('partials/header.ejs')%>

<div class="jumbotron myForm mt-5">
    <div class="container">
        <form class="contactMeForm text-center">  
            <h1 class="text-success text-center mb-5 font-weight-bold">Contact Me</h1>    
            <input name="name" type="text" class="contact" placeholder="Name" />   
            <input name="email" type="text" class="contact" placeholder="Email" />
            <textarea name="text" class="contact myMessage" placeholder="Your Message..."></textarea>
            <input type="submit" value="SUBMIT"/>
          </form> 
    </div>   
</div>
