<%- include('partials/header.ejs')%>

<div class="jumbotron text-center text-success">
    <div class="container-fluid">
      <span>
        <h1>Hi..! I'm Razer <img class="img rounded-circle" src="https://st3.depositphotos.com/29283810/36752/v/600/depositphotos_367520748-stock-illustration-mysterious-man-in-a-hood.jpg"></h1>
      </span>
      <p>Since beginning my journey as a freelance designer, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.</p>
      <p>Living, learning, & leveling up one day at a time.</p>
    </div>
</div>

<div class="container rounded bg-warning text-dark">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
</div>

<%- include('partials/footer.ejs')%>
