<%- include('partials/header.ejs')%>


<div class="jumbotron text-center">
<h1>Portfolio</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, ratione dolor recusandae consequatur autem odit ipsam incidunt neque repellat at quae laborum nesciunt illo corrupti voluptate nemo maiores ea consectetur! Tempore sapiente officiis eveniet nisi sint pariatur, non, excepturi in provident cum quas odio quis rem repellendus distinctio quibusdam adipisci? Aut suscipit fugiat neque error quam quae voluptatibus minima magnam vero, qui illum nemo tempora debitis necessitatibus ipsum magni quaerat laborum omnis eveniet officiis et molestias dolores ullam? Magni cupiditate molestiae mollitia assumenda facere ad nemo quas sunt atque, dolores vitae blanditiis modi id repellat voluptates voluptatum quasi, veritatis ullam.
        </p>
    </div>