@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body {
  font-family: 'Merriweather', serif;
  min-height: 100%;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee36d484-5409-4d54-a3b6-cce26377c006/d78czcc-a051b8be-778e-4d35-95ba-0299c991eea4.png/v1/fill/w_1024,h_579,q_80,strp/dark_rainbow_wallpaper_by_nbda_d78czcc-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01NzkiLCJwYXRoIjoiXC9mXC9lZTM2ZDQ4NC01NDA5LTRkNTQtYTNiNi1jY2UyNjM3N2MwMDZcL2Q3OGN6Y2MtYTA1MWI4YmUtNzc4ZS00ZDM1LTk1YmEtMDI5OWM5OTFlZWE0LnBuZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.hN1Gj4ns4lbOyQW1WzhQOM05afOsVo14T9LkUX-U53E');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.navbar {
  background-color: #15920f;
  height: 53px;
  padding-top: 0;
}
@media screen and (max-width: 500px) {
  .navbar {
    background-color: #15920f;
    height: auto;
    padding-top: auto;
  }
  .fas {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .letsCode,
  .txt {
    font-size: 12px;
  }
}
.jumbotron {
  background: none;
}
.fas {
  color: #171717;
}
.top-Img {
  height: 40px;
}
.fab {
  color: #a21714;
}
.img {
  height: 25vh;
  border: 2px solid green;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.contactMeForm {
  max-width: 40%;
  margin: 50px auto;
}

.contact {
  color: #15920f;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #a21714;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.contact:focus {
  border: 2px solid #cc4949;
}

.myMessage {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type='submit'] {
  font-family: sans-serif;
  width: 30%;
  background: #15920f;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #171717;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -4px;
  font-weight: bold;
}
[type='submit']:hover {
  background: #a21714;
  color: #171717;
}
